/* Import Inter font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* Colors */
    --clr-primary: #3758E9;
    --clr-secondary: #ABBBFF;
    --clr-background: #F9F7F6;
    --clr-cta: #e75f35;
    --clr-text: #1E3B57;

    /* Margins */
    --margin: 64px;
    --nav-margin: 32px;

    /* Andet */
    --border-radius: 400px;
    --border-radius-box: 20px;
    --border-radius-gallery: 40px;
    --max-width: 1440px;
}

/* ********************** | HTML RESET | ********************** */
/* ********************** | HTML RESET | ********************** */
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', system-ui, sans-serif;
    font-size: 17px;
    color: var(--clr-text);
}
body {
    background-color: var(--clr-background);
}
img{
    block-size: auto;
}



/* Typography */
h1 {
    font-weight: 600;
    font-size: 3em;
}

h2 {
    font-weight: 600;
    font-size: 2.5em;
    margin-bottom: 10px;
}

h3 {
    font-weight: 500;
    font-size: 2.25em;
    margin-bottom: 10px;
}
h4 {
    font-weight: 600;
    font-size: 1.25em;
    color: var(--clr-primary);
    margin-bottom: .75em;
}
h5 {
    font-weight: 600;
    font-size: 1em;
    color: var(--clr-primary);
}
p {
    margin: 3px 0 8px;
    line-height: 1.5em;
}
ul {
    line-height: 1.5em;
    list-style: square;
    padding-left: 1em;
    margin-top: 0;
}
li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: var(--clr-text);
    font-weight: 600;
    transition: opacity .25s ease-in-out;
}
a:hover {
    opacity: .5;
}
.subline{
    font-weight: 400;
    font-size: 1.75em;
}
mark {
    background-color: transparent;
    color: var(--clr-text);
    background-image: url(../img/mark.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-bottom: 25px;
    padding-top: 15px;
}
.subtext{
    font-size: 1.25em;
    opacity: .7;
}

/* Utility classes */
.faded {
    opacity: .7;
}
.mt-0{
    margin-top: 0;
}
.mt-1{
    margin-top: 10px;
}
.mt-2{
    margin-top: 30px;
}
.mt-3{
    margin-top: 40px;
}
.mb-0{
    margin-bottom: 0;
}
.mb-1{
    margin-bottom: 10px;
}
.mb-2{
    margin-bottom: 30px;
}
.mb-3{
    margin-bottom: 40px;
}
.half-picture{
    max-inline-size: 50%;
}

/* ********************** | CONTAINERS | ********************** */
/* ********************** | CONTAINERS | ********************** */
.container {
    margin-left: var(--margin);
    margin-right: var(--margin);
}
.container-wide {
    padding-left: var(--margin);
    padding-right: var(--margin);
}

@media only screen and (min-width: 2000px) {
    .container {
        width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }
}



section.blue {
    background-color: var(--clr-primary);
    color: var(--clr-background);
}

section.blue a {
    color: var(--clr-background);
}

button,
.cta-btn,
input[type="submit"] {
    padding: 16px 30px;
    line-height: 1.2em;
    border: none;
    font-size: 1em;
    font-weight: 500;
    border-radius: var(--border-radius);
    background: var(--clr-primary);
    color: #fff;
    cursor: pointer;
    transition: color .25s ease-in-out, background-color .25s ease-in-out;
}
button:hover, .cta-btn:hover, input[type="submit"]:hover, button[type="button"]:hover {
    background: var(--clr-secondary);
    color: var(--clr-primary);
}
.cta-book a {
    font-weight: 400;
    color: var(--clr-background);
}

/* ********************** | PRELOADER | ********************** */
/* ********************** | PRELOADER | ********************** */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-primary);
    z-index: 9999;
    transition: transform 1s, opacity 1s;
    transform: translateY(0);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#lottie-container {
    width: 40%;
    height: auto;
}
  
#preloader-content {
    display: none;
}


/* ********************** | NAVBAR | ********************** */
/* ********************** | NAVBAR | ********************** */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    z-index: 1;
    background-color: var(--clr-background);
    z-index: 1000;
}

.open-menu-icon {
    display: none;
}

.nav-item-container{
    display: flex;
    align-items: center;
}

.nav-marg {
    width: var(--nav-margin);
}

nav a,
nav a:visited {
    text-decoration: none;
    color: var(--clr-text);
    font-weight: 600;
}

nav ul li {
    margin-right: var(--nav-margin);
    margin-bottom: 0;
}

nav ul li a.active::after {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 3px;
    background-color: var(--clr-primary);
}

nav ul li a {
    font-weight: 500;
}

nav ul li:nth-last-of-type(2) {
    margin-right: 0;
}

.logo {
    margin-left: var(--nav-margin);
    margin-right: auto;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.25em;
}

.logo:visited {
    color: var(--clr-text);
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
}

/* ********************** | HERO | ********************** */
/* ********************** | HERO | ********************** */
.hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero h1 {
    max-width: 75%;
    text-align: center;
}

/* ********************** | VIDEO SECTION | ********************** */
/* ********************** | VIDEO SECTION | ********************** */
video {
    position: absolute;
    width: 100%;
    min-width: 1000px;
    overflow: hidden;
    opacity: .2;
    z-index: 0;
}

.bg-video-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}

.bg-video-container .content {
    position: relative;
    z-index: 1;
    display: flex;
}

.bg-video-container .content .text {
    max-width: 40%;
}

.btn-play {
    align-self: center;
    aspect-ratio: 1 / 1;
    border: none;
    background-color: var(--clr-primary);
    position: absolute;
    z-index: 10;
    transform: translateX(calc(50vw - 50%));
    width: 100px;
    border-radius: 100%;
}

.mobile-play{
    display: none;
}


/* ********************** | Quote | ********************** */
/* ********************** | Quote | ********************** */
.quote {
    min-height: 300px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.quote .content {
    width: 75%;
}

.quote .content a {
    line-height: 4em;
}

/* ********************** | CASES | ********************** */
/* ********************** | CASES | ********************** */
section.cases {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: var(--margin) 0;
    align-items: center;
    gap: 20px;
}

section.cases h2 {
    grid-column: 1;
}

blockquote {
    margin: 0;
}

.gallery {
    grid-column: 2 / 4;
    position: relative;
    overflow: hidden;

}

#gallery {
    max-width: calc(100vw - 40px);
    display: flex;
    gap: 10px;
    transition: transform 0.5s ease-out;
    justify-content: end;

}

.gallery-img {
    overflow: hidden;
    position: relative;
    max-width: 8%;
    min-width: 50px;
    opacity: 0.5;
    transition: opacity 0.5s ease-out, width 0.5s ease-out;
    border-radius: calc(var(--border-radius) * 2);
    max-height: 400px;
}

.gallery-img .content {
    position: absolute;
    bottom: 0;
    padding-left: 5%;
    padding-bottom: 8%;
    padding-top: 50%;
    color: var(--clr-background);
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    z-index: 9;
    display: none;
}
.gallery-img .content a {
    color: var(--clr-background);
    line-height: 2.25em;
}
.gallery-img.active .content {
    display: block;
}


.active {
    opacity: 1;
    min-width: unset;
    max-width: fit-content;
    border-radius: var(--border-radius-gallery);
}

.active img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active .progress-bar {
    display: block;
}

.progress-bar {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 5%;
    height: 5px;
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 0;
    z-index: 10;
}



/* ********************** | KONTAKT | ********************** */
/* ********************** | KONTAKT | ********************** */
form {
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}

.contact form {
    width: 50vw;
}

.contact form input[type="radio"] {
    display: none;
}

.contact form label {
    box-shadow: 0px 0px 0px 1px var(--clr-background) inset;
    opacity: .75;
    border-radius: var(--border-radius);
    margin: 4px 0px;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    transition: opacity .1s ease-in-out;
}
.contact form label:hover {
    opacity: 1;
}

input[type="radio"]:checked+label {
    box-shadow: 0px 0px 0px 2px var(--clr-background) inset;
    font-weight: bold;
    opacity: 1;
}

.contact form button,
input[type="submit"] {
    background: var(--clr-text);
    color: var(--clr-background);
    font-size: 1em;
    margin: 4px 0px;
}

/* Side 2 + 3 */
#formPage2 form input,
#formPage3 form input {
    display: block;
    width: 100%;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    padding: 10px;
    border-radius: var(--border-radius);
    margin: 4px 0px;
}

#formPage2 form label {
    box-shadow: none;
    padding: 0;
    opacity: 1;
}


/* ********************** | FOOTER | ********************** */
/* ********************** | FOOTER | ********************** */
.footer-grid {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    gap: 60px;
    margin-bottom: 20px;
}

footer {
    padding: 20px 0;
    opacity: .75;
}


/* ********************** | KONTAKT POP UP | ********************** */
/* ********************** | KONTAKT POP UP | ********************** */
/* Contact form pop up */
.popup-container, .video-overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1099;
    background-color:rgba(31,31,31,.4);
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;
}

.popup-container ul{
    padding-left: 0;
    opacity: .6;
}

.popup-container.show, .video-overlay.show{
    visibility: visible;
    opacity: 1;
}

.video-overlay video{
    position: relative;
    z-index: 1100;
    opacity: 1;
    max-width: 80dvw;
}

.popup-box{
    background-color: var(--clr-primary);
    max-width: 70%;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 40px 20px;
    border-radius: 14px;
    position: relative;
    overflow-y: scroll;
    max-height: 100vh;
}

.popup-box h3{
    margin: 0 0 10px 0;
}

.popup-text{
    max-width: 50%;
    color: var(--clr-background);
}

.popup-text li{
    list-style: none;
    margin-bottom: 1em;
    margin-top: 20px;
}

.popup-container .popup-box .popup-text li i{
    margin-right: .5em;
}

.popup-container .popup-box .popup-form{
    flex: 50%;
}

.contact-mail{
    color: var(--clr-background);
    font-weight: 400;
}

.form-control{
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    font-size: 1em;
    border: none;
    border-radius: 10px;
}

.popup-container .popup-box .popup-form textarea{
    resize: none;
    height: clamp(100px, 15vh, 200px);
    border-radius: 10px;
}

input, textarea{
    font-family: inherit;
    box-sizing: border-box;
}

.popup-container .popup-box .popup-form .submit-btn{
    background-color: var(--clr-text);
    margin-bottom: 15px;
    font-size: 1em;
}

.popup-container .popup-box .popup-form .submit-btn:hover{
    background: var(--clr-secondary);
}

.close-btn{
    position: absolute;
    right: 10px;
    top: 0px;
}

.close-btn{
    display: none;
}

#copyright {
    opacity: .4;
    font-size: .875em;
}

/* ********************** | PRICE | ********************** */
/* ********************** | PRICE | ********************** */

section.container-wide.quote.pris {
    margin-top: 60px;
}

.container.rekruttering>p {
    margin: 60px 0;
}

.content.flex {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 10px;
}

.rekp>span {
    font-size: 32px;
    color: #3758E9;
    font-weight: 600;
}

.cta-container {
    margin: 10px 0;
}

.ghost {
    background-color: transparent;
    color: #3758E9;
}

.wrapper, .blog {
    max-width: 800px;
    margin: 0 auto;
    hyphens: auto;
}

.section-content {
    margin: 40px 0;
}

.container-wide.blue.kontakt {
    padding: 50px 0;
    text-align: center;
}

.cta-box button {
    display: block;
    max-width: 634px;
    width: 100%;
    margin: 0 auto;
}

.cta-box {
    display: grid;
    gap: 20px;
    margin-top: 50px;
}

.videre {
    background-color: #1E3B57;
}

.intersection {
    transition: opacity 1s ease;
    opacity: 0;
}

.slide-in-left {
    animation: slide-in-left;
    animation-duration: 750ms;
    animation-timing-function: ease-out;
    opacity: 1;
}

.slide-in-right {
    animation: slide-in-right;
    animation-duration: 750ms;
    animation-timing-function: ease-out;
    opacity: 1;
}

mark.white {
    color: #F9F7F6;
    background-image: url("../img/mark-light.svg");
}

.float-right{
    float: right;
    margin-left: 20px;
}
.float-left{
    float: left;
    margin-right: 20px;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-70px);
        opacity: 0;
        filter: blur(2px);
    }

    to {
        transform: translateX(0%);
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(70px);
        opacity: 0;
        filter: blur(2px);
    }

    to {
        transform: translateX(0%);
        opacity: 1;
        filter: blur(0px);
    }
}

/* Slide up */
.slide-up {
    animation: slide-up 1s forwards;
}

@keyframes slide-up {
    0% {
        transform: translateY(clamp(26px, 40%, 60px));
    }
    100% {
        transform: translateY(0);
    }
}



/* ********************** | OM OS | ********************** */
/* ********************** | OM OS | ********************** */
.titlebox h2{
    margin: unset;
}

.prismodel{
    display: flex;
    gap: 25px;
}
.titlebox>.container-wide.blue.omos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titlebox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
}
.overskriftbillede{
    width: 100%;
    height: 100%;
    max-height: 400px;
    object-fit: cover;
}

.value{
    margin-top: 60px;
}

.blue.omos{
    min-height: 300px;
    background-color: #3758E9;
    padding: 20px 0;
    color: #F9F7F6;
    padding-left: var(--margin);
    padding-right: var(--margin);
}

.valuebox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px 0;
}
.valuebox h4{
    color: #F9F7F6;
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: .5em;
}
.valuebox p{
    color: #F9F7F6;
}

.blue.value{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #3758E9;
    padding-top: 10px;
    box-sizing: border-box;
}
.value .container h3{
    color: #F9F7F6;
}

/* ********************** | LARGE SCREENS | ********************** */
/* ********************** | LARGE SCREENS | ********************** */
@media only screen and (min-width: 700px) {
/* MOVING CTA BUTTON */
.cta-btn {
    position: fixed;
    transform: translateX(calc(-50vw + 50%));
    right: 0;
    z-index: 2;
    margin-left: -136px;
}

.cta-btn.transition {
    transition: top .75s ease-in-out, transform .75s ease-in-out, background-color .25s ease-in-out, margin-left .75s ease-in-out, color .25s ease-in-out, padding .75s ease-in-out, color .25s ease-in-out;
}

.cta-btn.scrolled {
    transform: none;
    position: relative;
    margin-left: var(--nav-margin);
    padding: 12px 30px;
}

.cta-placeholder {
    align-self: start;
    opacity: 0;
}
}



/* ********************** | SMALL SCREENS | ********************** */
/* ********************** | SMALL SCREENS | ********************** */

/* Tablets */
@media only screen and (max-width: 900px) {
    :root {
        --margin: 32px;
    }

    /* Typography */
    h1 {
        font-weight: 600;
        font-size: 2.25em;
    }

    h2 {
        font-weight: 600;
        font-size: 2em;
        margin-bottom: 10px;
    }

    h3 {
        font-weight: 500;
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    .subline{
        font-size: 1.125em;
    }

    /* Kontakt */
    .popup-box {
        flex-direction: column;
        padding: 15px;
    }
    .popup-text{
        max-width: 100%;
        font-size: 15px;
    }
    .popup-container .popup-box .popup-form{
        width: 100%;
        font-size: 15px;
    }
    .close-btn{
        display: block;
        font-size: 2.5em;
        color: var(--clr-secondary);
        cursor: pointer;
    }

    /* Om os underside */
    .valuebox h4{
        font-size: 1.25em;
    }

}


/* Mobile */
@media only screen and (max-width: 700px) {
    :root {
        --margin: 10px;
        --nav-margin: 10px;
    }

    #lottie-container {
        width: 100%;
        height: auto;
    }

    .half-picture{
        max-inline-size: 100%;
    }

    /* NAV */
    nav ul {
        position: absolute;
        top: 0;
        flex-direction: column;
        width: 100dvw;
        padding: 10vh 0;
        background-color: var(--clr-background);
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
        transform: translateY(-150%);
        transition: all 200ms ease;
    }
    
    nav ul.open-menu {
        transform: translateY(0%);
    }

    .open-menu-icon {
        display: block;
        font-size: 2em;
        margin-right: var(--nav-margin);
        position: relative;
        z-index: 1000;
    }

    .icon-line {
        display: block;
        width: 32px;
        height: 3px;
        background-color: var(--clr-text);
        margin: 4px 0;
        transition: transform 200ms;
    }

    .icon-line.close{
        transform: rotate(45deg) translateY(4px) scale(75%);
        
    }
    .icon-line:last-of-type.close{
        transform: rotate(-45deg) translateY(-5px) scale(75%);
    }


    nav ul li {
        margin: 20px 0;
    }

    /* HERO */
    .hero h1 {
        max-width: unset;
    }
    .cta-placeholder {
        opacity: 1;
        margin: 0 auto;
    }

    /* VIDEO */
    .bg-video-container .content .text {
        max-width: unset;
    }
    .btn-play{
        display: none;
    }
    .mobile-play{
        display: block;
        font-weight: 600;
        margin-top: 15px;
    }
    .mobile-play-btn{
        font-size: 1em;
        background-color: var(--clr-text);
        color: var(--clr-background);
        padding: 3px 7px;
        border-radius: 100px;
        margin: 0 5px 0 0;
        aspect-ratio: 1/1;
    }
    .video-overlay video{
        max-width: unset;
        max-height: 50dvh;
    }

    /* CASES SECTION */
    #gallery {
        flex-direction: column;
        max-width: 100vw;
    }

    .gallery-img {
        height: 65px;
        width: fit-content;
        max-width: 100%;
    }

    .active {
        height: initial;
    }

    .gallery {
        width: unset;
    }

    section.cases {
        grid-template-columns: 1fr;
        padding: var(--margin) 0;
        align-items: center;
    }

    .gallery {
        grid-column: 1;
    }

    .gallery-img {
        width: 100%;
    }


    /* KONTAKT */
    .contact form {
        width: calc(100vw - 2 * var(--margin));
    }


    /* FOOTER */
    .footer-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }


    /* Pris-underside */
    .float-right {
        float: none;
        display: block;
        margin-left: 0;
    }
    .float-left {
        float: none;
        display: block;
        margin-right: 0;
    }
    div.content.flex {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    div.content.flex img {
        width: 30%;
        margin-top: 20px;
    }
    .rekh2{
        margin-top: 0;
    }

    /* Om os underside */
    .titlebox{
        grid-template-columns: 1fr;
    }
    .blue.omos{
        min-height: unset;
    }
    .valuebox h4{
        font-size: 1em;
    }
    .valuebox {
        grid-template-columns: 1fr;
        gap: 0px;
    }

}